body {
    max-width: 1080px;
    background-color:#202020;
    color:#E0E0E0;
    position: fixed;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.box1{
    padding-top: 20px;
    float: left;
    width: 100%;
    margin-left: 36%;
    
}
.box{
    padding-top: 5%;
    float: left;
    width: 20%;
    margin-left: 5%;
    padding-left: 12%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box2 {
    float: left;
    width: 45%;
    margin-left: 36%;
}
.button {
    height: 250px;
    width: 350px;
}